#guide-contents-pg-wrapper {
    height: 500px; /* height of container */
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #0b0a07 url(https://cdn.discordapp.com/attachments/677255897134792748/717076820285194250/frontpgbgndpic.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding: 16px;
}

#guide-contents-pg-main {
    background: black;
    opacity: 70%;
    color: white;
}
